---
layout: default
---
<h2>{{ page.title }}</h2>
<h5>{{ page.date | date: "%b %d, %Y" }} • {{ page.author }}</h5>
<h6>Tags:
    {% for tag in page.tags %}
    <a href="/tags/#{{tag | slugify}}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
    {% endfor %}
</h6>
<div id="toc"></div>
{{ content }}



<hr />
<i>Please create an issue if you have a comment - and then I'll know I have to prioritize comment functionality</i>
<script type="text/javascript">
    $(document).ready(function () {
        $('#toc').toc();
    });
</script>
